.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vmin;
    margin: 0;
    padding: 0;
}

.banner::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 13.8rem;
    background: var(--color-uno);
    clip-path: polygon(0 0, 100% 0, 100% 7.6rem, 6% 7.6rem, 0 100%);
}

.banner .banner-img{
    --background-img: url('/img/resources/banner.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-img) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.banner .banner-body{
    flex-basis: 100%;
}

.banner .banner-title{
    color: var(--color-cinco);
    text-align: center;
}

.banner .banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: .5rem 1rem;
    background-color: var(--color-dos);
    color: var(--color-cinco);
    border-radius: .25rem;
}

.banner .banner-btn .btn-icon{
    margin-right: 1rem;
}

/* MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /**/
}

/* XL */
@media(min-width: 1200px){
    /**/
}